@model DemoMVC01.Models.Book

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.bookNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bookNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bookName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bookName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bookConcern)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bookConcern)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bookAuthor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bookAuthor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bookCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bookCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bookPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bookPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
